.gallery {
  display: grid;
  margin: 118px auto 92px;
  max-width: 1184px;
  width: 100%;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.gallery__item {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .gallery {
    max-width: 720px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 64px auto 88px;
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    margin: auto;
    max-width: 288px;
    width: 100%;
    display: block;
    margin: 38px auto 62px;
  }
  .gallery__item {
    margin-bottom: 12px;
  }
}
