.gallery {
  display: grid;
  margin: 118px auto 92px;
  max-width: 1184px;
  width: 100%;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.gallery__item {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .gallery {
    max-width: 768px;
    width: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    max-width: 320px;
    width: 100%;
    display: block;
    gap: 12px;
  }
}
