.header {
  display: block;
  unicode-bidi: isolate;
}
.header__logotipo {
  max-height: 69px;
  max-width: 255px;
  padding: 34px 0 0;
  margin: 0 auto;
  display: block;
}
.header__content {
  margin: 0 auto;
}
.header__title {
  text-align: center;
  margin: 0 auto;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  font-family: "Inter-black";
  padding: 92px 0 0;
}
.header__subtitle {
  text-align: center;
  padding: 32px 0 0;
  margin: auto;
  max-width: 720px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Inter";
}
.header__image {
  max-width: 984px;
  width: 100%;
  max-height: 615px;
  margin: 0 auto;
  display: block;
  padding: 64px 0 0;
}
@media screen and (max-width: 768px) {
  .header__logotipo {
    max-height: 66px;
    max-width: 254px;
    padding: 30px 0 0;
    margin: 0 auto;
    display: block;
  }
  .header__title {
    max-width: 530px;
    font-size: 75px;
    line-height: 79px;
  }
  .header__subtitle {
    font-size: 30px;
    line-height: 36px;
  }
  .header__image {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .header__logotipo {
    max-height: 52px;
    max-width: 188px;
    padding: 20px 0 0;
    margin: 0 auto;
    display: block;
  }
  .header__title {
    max-width: 530px;
    font-size: 40px;
    line-height: 44px;
  }
  .header__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .header__image {
    width: 100%;
  }
}
